<!DOCTYPE html>
<html>
<head>
	<title>Home - TestProj</title>
</head>
<body>

<h1>HOME Page of {{naam}}'s project</h1>
{{today}}
<br>
Today is {{today.day}} day of {{today.month}} of {{today.year}}

{% if today.day == 20 %} 
<p>Today</p>
<b>is aaj</b>
{% elif today.day == 30 %}
<p>NO</p>
{% else %}
<p>Nothing</p>
{% endif %}

<table>
	<th>Roll</th>
	<th>City</th>
	<th>Name</th>
	{% for item in object_list %}      {# 'object_list' var passed by generic view #}
	<tr>
		<td>{{item.roll}}</td>
		<td>{{item.city}}</td>
		<td>{{item.name}}</td>
	</tr>
	{% endfor %}
</table>

<p>{{roll}}</p>
<p>{{city}}</p>
<p>{{name}}</p>

{% for i in entries %}

<p>{{i.roll}}</p>
<p>{{i.city}}</p>
<p>{{i.name}}</p>

{% endfor %}

</body>
</html>